*{
    margin: 0;
    box-sizing:content-box;
    padding: 0;
}
body{
    font-family:DIN Next,sans-serif;
    background-color: rgb(32 34 37);
}
p{
    margin: 0px;
}
.nav-margin{
    margin-left: 0px;
}
.me-2{
    width: 700px;
    height: 50px;
    font-size: 17px;
}
.dropdown-menu{
    background-color: rgb(48, 51, 56);
}
.dropdown-item:hover{
    background-color: rgb(48, 51, 56);
    width: 0px;
    color: white;

}
.searchbar_1{
    border-radius: 2px;
    margin-left: 40px;
    color: white;
}

.popsicole{
    background-color: rgb(32 34 37);
    padding: 20px 5px 20px 5px;
    width: 100%;
    opacity: 100%;
    border-bottom: 0.5px solid rgb(50, 50, 50);
}
.nav-item{
    padding-left: 50px;
    font-size: 19px;
    color: white;
    font-weight: 900;
}
.nav-link:hover{
    color: #666;
}
.nav-link{
    color: white;
}
.navbar-nav .nav-link.active{
    margin-left: 200px;
    color: white;
}
.clapp_logo{
    color: white;
    display: flex;
    align-self: center;
    margin-left: 40px;
    font-size: 27px;
    font-weight: 900;
    text-align: center;
    padding-top: 9px;
}
.navbar{
    padding: 0px;
}
.header{
    display: grid;
    grid-template-columns: auto 38% auto;
    justify-content: space-around;
    position: fixed;
    padding: 20px 5px 20px 5px;
    width: 100%;
    opacity: 100%;
    background-color: rgb(32 34 37);
    border-bottom: 0.5px solid rgb(50, 50, 50);
}
.nav_header_search_bar{
    display: flex;
    height: 50px;
    width: 1200px;
    border-radius: 8px;
    border: 1.8px solid rgb(139 147 155);
    font-size: 17px;
    background-color: rgb(32, 34, 37);
}
.nav_header_search_bar:hover{
    background-color:rgb(42, 44, 47) ;
}
.nav_header_son{
    display: flex;
    align-self: center;
}
.header_logo{
    display: flex;
    align-self: center;
    color: white;
    padding-left: 30px;
    font-size: 27px;
    font-weight: 900;
    text-align: center;
    padding-top: 9px;
}

.header_logo_a{
    text-decoration: none;
    text-align: center;
}
.hola{
    display: flex;
    align-self: center;
}
.header_nav{
    display: flex;
    align-self: center;
}
.nav_list{
    display: flex;
}
.nav_list a{
    text-decoration: none;
}
.list_item{
    display: flex;
    padding-left: 45px;
    font-size: 19px;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 900;
}
.list_item_account{
    display: flex;
    padding-left: 45px;
    font-size: 19px;
    color:white ;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
    align-self: center;
    align-items: center;
}

.list_item:hover{
    color:rgb(61, 61, 61);
}
.list_item_account:hover{
    color:rgb(61, 61, 61);
}
.trending{
    display: flex;
    justify-content: center;
    padding-top: 70px;
    font-size: 28px;
    color: white;
}
.body_a{
    text-decoration: none;
    margin-left: 40px;
    color: white;
    font-size: 21px;
    padding-bottom: 8px;
    font-weight: 900;
    transition: ease 0.6s;
}
.body_a:hover{
    color: rgb(80, 80, 80);
    border-bottom: 1.5px solid white;
}
.body{
    display: grid;
    grid-template-columns: auto auto;
    padding-top: 50px;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.body_nav{
    display: flex;
    align-self: center;
    padding-left: 30px;
    padding-right: 30px;

}
.btn_see_all{
    height: 48px;
    width: 120px;
    border-radius: 10px;
    border: 1.8px solid rgb(139 147 155);
    font-size: 14px;
    color: white;
    background-color:rgb(32, 34, 37) ;
    font-weight: 900;
    text-align: center;
}
.btn_see_all:hover{
    border: 2px solid rgb(189 177 185);
}
.h24h{
    gap: 10px;
    font-size: 28px;
    display: flex;
    margin-left: 60px;
    justify-content: flex-start;
    padding-top: 35px;
    font-weight: 500;
    color: white;

}
.song_cards{
    padding-top: 60px;
    display: grid;
    row-gap: 50px;
    grid-template-columns: auto auto auto auto auto;
    justify-content: space-around;
    padding-bottom: 100px;
    margin-left: 10px;
    margin-right: 10px;
}
.imagenpop{
   width:100% ;
   border-top-right-radius: 15px;
   border-top-left-radius: 15px;
   padding-bottom: 15px;
}
.jiji{
border-bottom: 0.5px solid rgb(79, 79, 79);
padding-top: 15px;
}

.card{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    width: 260px;
    height: 290px;
    text-align: center;
    border-radius: 15px;
    transition: ease 0.2s;
    background-color: rgb(49 51 57);
    
  }
  .card:hover{
    box-shadow: 5px 8px 8px 0 rgba(40, 42, 45, 0.1);
   margin-top: 1px;
  }
  
  .price {
    color: rgb(139 147 155);
    font-size: 16px;
  }
  .price_amm{
    color: white;
    font-size: 17px;
  }
  .user_type{
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 5px;
    color: white;
  }
.lola{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    row-gap: 4px;
    text-align: justify;
}
.chupa{
    background-color: transparent;
}
.footer{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    height: 300px;
    align-content: center;
    background-color:rgb(49 51 57);
}
.your_email{
    height: 54px;
    width: 350px;
    border-radius: 8px;
    background-color: rgb(49 51 57);
    border: 1px solid rgb(199, 199, 199);
    font-size: 18px;
}
.sign_btn{
    height: 56px;
    width: 100px;
    border-radius: 8px;
   border: none;
    background-color: rgb(83 83 88);
    color: white;
    font-size: 18px;
}
.form_footer{
   display: flex;
   justify-content: center;
   gap: 10px;
}
.stay_tuned{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    font-size: 25px;
    color: white;
    font-weight: 800;
    margin-bottom: 15px;
}
.nono{
    display: flex;
    gap: 20px;
    width:660px;
    height: fit-content;
    text-align: center;
    border-radius: 15px;
    transition: ease 0.2s;
    padding: 20px 0px 20px 10px;
}
.nono:hover{
    background-color: rgb(40, 42, 45);
}
.chupa{
    display: flex;
    align-self: center;
    height: 45px;
    width: 210px;
    overflow: hidden;
    margin-right: 15px;
}
.topnum{
    display: flex;
    text-align: center;
    color: rgb(84, 84, 84);
    align-self: center;font-weight: 900;
    font-size: 22px;
    margin-left: 10px;
    margin-right: 10px;
}
.topnum1{
    display: flex;
    text-align: center;
    color: rgb(84, 84, 84);
    align-self: center;font-weight: 900;
    font-size: 22px;
    margin-left: 8px;
    
}
.sisi{
    display: flex;
    text-align: center;
    align-self: center;
    font-size: 17px;
    font-weight: 700;
    color: white;
}
.sisis{
    display: flex;
    margin-left: 15px;
    margin-right: 0px;
    text-align: center;
    align-self: center;
    font-size: 15px;
    font-weight: 700;
    color: white;
}
.prp{
    border-radius: 10px;
}
.padree{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    margin-top: 15px;
}
.abuelo{
    display: grid;
    grid-template-columns: auto 295px 418px 125px;
    margin-top: 30px;
}
.header_grpa{
    display: flex;
    font-size: 15px;
    font-weight:700;
    color: rgb(139 147 155);
    padding-left: 185px;
}
.header_grpa1{
    display: flex;
    font-size: 15px;
    font-weight:700;
    color: rgb(181, 181, 181);
}
.header_grpa2{
    display: flex;
    font-size: 15px;
    font-weight:700;
    color: rgb(181, 181, 181);

}

.header_grpa3{
    display: flex;
    font-size: 15px;
    font-weight:700;
    color: rgb(181, 181, 181);
}
.hero{
    padding-top: 140px;
}
.hero_heading{
    padding-top: 10px;
    display: flex;
    padding-left: 50px;
    font-size: 30px;
    font-weight: 900;
    color: white;
}
.generos{
    display: flex;
    padding: 70px 10px 40px 10px;
    justify-content: space-around;
}
.generos a{
    display: flex;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 700;
    
}
.discover_grid{
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
    row-gap: 35px;
    column-gap: 35px;
    padding-bottom: 180px;
    padding-top: 30px;
}
.genero_grid_son{
    display: grid;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 1200px;
   background: rgb(49 51 57);
   color: #666;
   border-radius: 8px;
   padding: 30px 30px 40px 20px;
   gap: 10px;
}
.genero_grid_son:hover{
    box-shadow: 0 4px 8px 0 rgba(49, 51, 57, 0.2);
    background: rgb(51 53 59);
}
.track{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.track img{
    width: 42px;
    margin-right: 30px;
    cursor: pointer;
}
.track div{
    flex: 1;
    width: 500px;
}
.blow{
    border-bottom: 1.5px solid white;
    padding-bottom: 10px;
}
.form_signup{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 300px;
}
.signup_heading{
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding-bottom: 30px;
    color: white;
}
.foo{
    padding-top: 270px;
    color: white;
}
form input{
    height: 50px;
    width: 250px;
    border-radius: 8px;
    border: 1.8px solid rgb(139 147 155);
    background-color: rgb(32, 34, 37);
}
form button{
    height: 50px;
    width: 253px;  
    border: 1.8px solid rgb(139 147 155);
    background-color: rgb(40, 42, 46);
    color: white;
    font-size: 16px;
    border-radius: 8px;
}
.redes_footer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}
.redes_footer a{
    text-decoration: none;
    color: rgb(32 34 37);
    font-size: 45px;
}
.redes_footer a:hover{
    font-size: 46px;
}
.copyright{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-size: 12px;
    color: rgb(30 32 35);
}

@media screen and (max-width: 428px ) {
     .padree{
        grid-template-columns: auto;
        margin: 0px;
     }
     .song_cards{
        grid-template-columns: auto;
     }
     .nono{
        width: auto;
     }
     .abuelo{
        grid-template-columns: auto auto auto auto;
        justify-content: center;
        gap: 10px;
     }
     .sisis{
        display: none;
     }
     h1{
        font-size: 15px;
        text-align: center;
     }
     .your_email{
        width: auto;
     }
    .btn_see_all{
        width: auto;
        font-size: 15px;
       padding: 10px 10px 10px 10px;
    }
    .header_grpa{
        padding: 0px;
    }
    .header_grpa1{
        padding: 0px;
    }
    .header_grpa2{
        padding: 0px;
    }
    .header_grpa3{
        padding: 0px;
    }
    .card{
        width: 358px;
        height: 390px;
    }
    .imagenpop{
        height: 275px;
    }
    .h24h{
        font-size: 20px;
    }
    .chupa{
        width: 170px;
    }
     }
     @media screen and (max-width: 390px ) {
        .me-2{
           display: none;
        }
        .dropdown-menu{
            width: 80px;
        }
        .padree{
           grid-template-columns: auto;
           margin: 0px;
        }
        .song_cards{
           grid-template-columns: auto;
        }
        .nono{
           width: auto;
        }
        .abuelo{
           grid-template-columns: auto auto auto auto;
           justify-content: center;
           gap: 10px;
        }
        .sisis{
           display: none;
        }
        h1{
           font-size: 15px;
           text-align: center;
        }
        .your_email{
           width: auto;
        }
       .btn_see_all{
           width: 60px;
           height: 30px;
           font-size: 12px;
       }
       .body_nav{
        padding-left: 0px;
       }
       .header_grpa{
           padding: 0px;
       }
       .header_grpa1{
           padding: 0px;
       }
       .header_grpa2{
           padding: 0px;
       }
       .header_grpa3{
           padding: 0px;
       }
       .card{
           width: 328px;
           height: 360px;
       }
       .imagenpop{
           height: 255px;
       }
       .h24h{
           font-size: 20px;
       }
       .chupa{
           width: 120px;
       }
       .lola{
        row-gap: 0px;
       }
       p{
        margin-bottom: 0px;
       }
        }
